<h1>Thanks for registration</h1>

<h3>1.Entry fee is 25 required</h3>
<h3>2.it is necessary to mark</h3>
<h3>3.seminar timing 1 to 2 pm</h3>
<h3>4.If you have any donation then you can do it on google pay 8087821838</h3>
<h3>5.Tea and kachori for breakfast</h3>
